<h1>Posts</h1>

<% if user_signed_in? %>
  <%= render 'form' %>
<% end %>

<div class="posts">
  <hr/>
  <% @posts.each do |p| %>
    <p><%= p.title %></p>
    <p><%= p.body %></p>
    <% if user_signed_in? %>
      <% if current_user.is_member %>
        <p class="author"><%= p.user.name %></p>
      <% end %>
    <% end %>
    <hr/>

  <% end %>
</div>