/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, 
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  padding: 10px;
  max-width: 900px;
  margin: auto;
}

table {
  border: 1px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
  min-width: 200px;
}

a {
  display: inline-block;
  margin: 10px;
}

label {
  display: inline-block;
  margin-top: 20px;
}

input[type="submit"] {
  display: inline-block;
  margin-top: 20px;
}

.notification {
  width: 100%;
  position: relative;
  top: 0;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
}

.notice,
.alert {
  margin: 0;
}

.is-primary {
  color: #fff;
  background-color: rgb(42, 199, 42);
}

.is-danger {
  color: #fff;
  background-color: rgb(236, 26, 26);
}

.menu {
  padding: 5px;
  background-color: rgba(101, 63, 128, 0.466);
  color: #fff;
  width: fit-content;
}

.menu span {
  font-weight: bolder;
  text-transform: capitalize;
  color: indigo;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}